<html>
<head>
  <meta charset="UTF-8">
  <title>Meal App</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <!-- comment out the below link tags when bundling styles with webpack -->
  <link rel="stylesheet" href="client/stylesheets/styles.css">
</head>
<body>
  <h1 id="main-title">MEAL APP</h1>
  <div id="root">

  </div>

  <!-- uncomment below and comment out the tag above for webpack challenge -->
  <script src="build/bundle.js"></script>
</body>
</html>
