<html>
<head>
  <meta charset="UTF-8">
  <title>Meal App: Home</title>
  <!-- comment out the below link tags when bundling styles with webpack -->
  <link rel="stylesheet" href="client/stylesheets/styles.css">
</head>
<body>
  <h1>MEAL APP</h1>
  <div id="root">

  </div>

  <button name="logout" id="logout-button" type="button"><a href="http://localhost:3000/logout">Logout</a></button>

  <!-- uncomment below and comment out the tag above for webpack challenge -->
  <script src="build/webpack-bundle.js"></script>
</body>
</html>
